= f.input :name, label: t('settings.fields.name'), as: 'string'
= f.input :key, label: t('settings.fields.key'), as: 'string'
= f.input :value, label: t('settings.fields.value'), as: 'text'
= f.input :image, label: t('settings.fields.image'), as: :file
= f.input :activated, label: t('settings.fields.activated'), as: 'boolean'
