= f.input :email, as: 'string'
= f.input :password, as: 'password'
= f.input :roles, :as => :select, :collection => Role.all
-# User::ROLES.each do |role|
  .control-group
    = label_tag "user_roles_#{role}", role.humanize, class: 'control-label'
    .controls
      = check_box_tag "user[roles][#{role}]", role, @user.has_role?(role), {:name => "user[roles][]"}

-#= hidden_field_tag "user[roles][]", ""
