%dl
  %dt= input_label(:board_message, :name)
  %dd= resource.name
  %dt= input_label(:board_message, :email)
  %dd= resource.email
  %dt= input_label(:board_message, :message)
  %dd= resource.message
  %dt= input_label(:board_message, :date)
  %dd= localize(resource.date)
  %dt= input_label(:board_message, :approved)
  %dd 
    = resource.approved.text
    - if resource.disapproved? or resource.approved.pending?
      = link_to image_tag('admix/icons/shield_go.png'), approve_admix_board_message_path(resource), method: :put, data: { confirm: t('message_board.confirms.approve') }, class: 'btn', title:'Aprovar'
    - if resource.approved.approved? or resource.approved.pending?
      = link_to image_tag('admix/icons/shield_delete.png'), disapprove_admix_board_message_path(resource), method: :put,data: { confirm: t('message_board.confirms.disapprove') }, class: 'btn', title:'Reprovar'