%dl
  %dt= t('settings.fields.name')
  %dd= resource.name
  %dt= t('settings.fields.key')
  %dd= resource.key
  %dt= t('settings.fields.value')
  %dd= resource.value
  %dt= t('settings.fields.activated')
  %dd= resource.activated
