%h1= t('admix.crud.listing', resources: t("#{@collection_name}.#{@collection_name}"))

= datagrid_table @report, @assets, html: {class: 'table table-striped'}
= will_paginate @assets
= link_to t('admix.crud.new.link'), new_resource_url, class: 'btn'