%h1= t('admix.crud.show.title')
= render partial: 'show', locals: {resource: resource}
%br
.well{style: 'clear:both;'}
  = link_to t('admix.crud.list.title', resources: t("#{@collection_name}.#{@collection_name}")), collection_url, class: 'btn'