= f.input :title,         as: 'string'
= f.input :text,          as: 'richtext'
= f.input :date,          as: 'datepicker'
= f.input :source,        as: 'string'
= f.input :image,         as: 'file'
= f.input :published,     as: 'boolean' 